
$event-colors : (#B6FF38, #EFC8FE, #44F4C4, #bfffb7, #F3827F, #FFBC57, #9EDF7D, #FFFD67, #D06224, #B8405E, #2EB086, #548CFF); //( #9EDF7D, #D27FDF, #FFFD67, #B7CDFF, #44F4C4, #F3827F, #FFBC57);

.agenda{

  @import './speaker.scss';

  &__container{
    @apply p-5 w-full;
  }

  &__box{
    @apply flex flex-col md:flex-row;
  }

  &__filters{
    @apply w-96 p-5;
  }

  .filter{
    &__heading{
      @apply font-bold;
      & + div {
        @apply mb-5;
      }
    }

    &__container{
      @apply flex justify-center items-center flex-wrap space-x-2;
    }

    &__item{
      @apply text-xs bg-gray-500 text-white rounded-full pl-3 py-1 pr-8 relative;

      .close{
        @apply absolute bg-gray-700 text-white rounded-full w-6 h-6 right-0 top-0 flex items-center justify-center hover:bg-gray-600;
      }
    }
  }

  &__date{
    @apply font-light mb-3;
    span{
      @apply font-bold;
    }
  }

  &__header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @apply mb-3 space-x-2 px-3;
  }

  &__tabs{
    @apply flex flex-wrap space-x-2;
    justify-content: center;
    align-items: center;

    button{
      @apply px-5 py-3 mb-3 rounded-md shadow cursor-pointer;
    }
  }

  &__dropdown{
    @apply relative inline-block text-left mb-3;

    .open_menu{
      button{
        @apply inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500;
      }
      svg {
        @apply -mr-1 ml-2 h-5 w-5;
      }
    }

    .menu{
      @apply origin-top-right absolute right-0 mt-2 w-56 z-30 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none;
      &>div{
        @apply py-1;
      }
      button{
        @apply text-gray-700 block w-full text-left px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900;
      }
    }
  }

  .event{

    @apply border-b md:border-l w-full md:p-3 md:pl-5;

    &.simple{
      @apply md:border-b-0 py-2;
    }

    &.venue{
      .event__name{
        @apply font-normal;

        span{
          @apply font-semibold;
        }
      }
    }

    &__container{
      @apply flex flex-col md:flex-row;
    }

    &__date{
      @apply w-24 text-sm text-gray-500 md:text-right md:p-3 py-5 flex-shrink-0 mt-1;

      &.venue{
        @apply w-40;
      }
    }

    &__cover{
      @apply w-full;
    }

    &__name{
      @apply px-4 py-1 mr-2 mb-2 shadow-md font-semibold rounded inline-block relative cursor-pointer;

      &:hover{
        .detailed__box{
          @apply scale-100;
        }
      }

      .detailed__box{
        @apply py-2 px-5 scale-0 transform transition duration-300 w-screen max-w-lg rounded-md shadow-lg bg-white border-4 border-gray-400 z-10 absolute;
        left: 0;
        top: 130%;
        transform-origin: 27px 0;

        &::before{
          content: '';
          width: 0; 
          height: 0; 
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 15px solid rgba(156, 163, 175, 1);
          position: absolute;
          bottom: 100%;
          left: 20px;
        }
      }
    }

    &__description{
      @apply font-light border-b p-3 py-5;
      strong{
        @apply font-bold;
      }
      ul{
        @apply ml-5 mb-3 list-disc;
      }
      ol{
        @apply ml-5 mb-3 list-decimal;
      }
    }

    &__link{
      @apply mb-4;
      a{
        @apply inline-block px-5 py-2 bg-green-500 transform hover:translate-x-4 transition duration-300 text-white shadow-md;
      }
    }

    &__speakers{
      @apply font-light border-b p-3;

      .speakers__container{
        @apply p-0 md:p-5 mb-3 md:mb-0;
      }

      .speakers__photo{
        @apply w-24 h-24 flex-shrink-0;
      }

      .speakers__category{
        @apply font-semibold text-base;
      }

      .horizontal{
        @apply grid-cols-1
      }
    }

    &__details{
      @apply p-3 text-xs space-y-2;
    }

    &__category{
      @apply flex items-center;
      &::before{
        @apply inline-block w-4 h-4 rounded-full shadow-md mr-2;
        content: '';
      }
    }

  }

  @for $i from 1 through length($event-colors) {
    .event__name.cat-#{$i - 1}{
      background-color: nth($event-colors, $i);
    }

    .event__category.cat-#{$i - 1}{
      &::before{
        background-color: nth($event-colors, $i);
      }
    }
  }

  .venue_filter{
    display: flex;
    align-items: center;
    &:before{
      @apply w-6 h-6;
      content: '';
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-directions' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M12 21v-4'%3E%3C/path%3E%3Cpath d='M12 13v-4'%3E%3C/path%3E%3Cpath d='M12 5v-2'%3E%3C/path%3E%3Cpath d='M10 21h4'%3E%3C/path%3E%3Cpath d='M8 5v4h11l2 -2l-2 -2z'%3E%3C/path%3E%3Cpath d='M14 13v4h-8l-2 -2l2 -2z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
}

.loading{
  margin-top: .5rem;
  svg{
    @apply h-5 w-5 text-blue-400 mx-auto;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}