.speakers{

  &__container{
    padding: 1.25rem/* 20px */;
  }

  &__category{
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 1.25rem/* 20px */;
  }

  &__list{
    &.horizontal{
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 1.25rem/* 20px */;

      @media (min-width: 640px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      .speakers__item{
        @apply space-x-4;
        align-items: center;
      }

      .linkedin{
        color: rgba(37, 99, 235, 1);

        &:hover {
          color: rgba(96, 165, 250, 1);
        }

        a{
          display: inline-block;
        }
      }
    }

    &.vertical{
      
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 1.25rem/* 20px */;

      @media (min-width: 640px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      @media (min-width: 768px) {
          grid-template-columns: repeat(5, minmax(0, 1fr));
      }

      .speakers__item{
        @apply space-y-3;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .linkedin{
        @apply text-blue-600 hover:text-blue-400 text-center;
        a{
          @apply inline-block;
        }
      }
    }

    
  }

  &__item{
    @apply flex;
  }

  &__photo{
    @apply w-32 h-32 p-1 shadow;

    &__circle{
      @apply rounded-full;
      
      img{
        @apply rounded-full;
      }
    }
  }

  &__name{
    @apply font-bold;
  }

  &__designation, &__organisation{
    @apply font-light text-sm;
  }
  
}