<script>
  import {onMount} from 'svelte';
  import { DateTime } from "luxon";
  import Detailed from './Detailed.svelte';
  // import Type from './Type.svelte';
  import Simple from './Simple.svelte';
  import Venue from './Venue.svelte';
  import Filters from './Filters.svelte';

  export let event;
  export let url;
  // export let date;
  export let color;
  export let type = 'simple';

  let loading = false;

  let active_tab = "";

  let agenda_list = [];

  let filter_category = "";
  let filter_venue = "";

  let categories = [];
  let venues = [];

  $: agenda_list, dates();

  function dates(){
    let dates = Object.keys(agenda_list);
    return dates;
  }
  
  onMount(async ()=>{
    var today = DateTime.now().toFormat("LLL dd, yyyy");
    await loadData();
    active_tab = (dates().indexOf(today) >= 0) ? today : dates()[0];
  });

  async function loadData(){
    loading = true;
    let data = await fetch(`${url}/api/event/${event}/agenda/${type}?venue=${filter_venue}&category=${filter_category}`).then(response => response.json());
    agenda_list = data.agenda;
    categories = data.categories;
    venues = data.venues;
    loading = false;
  }

  function date_format(date, format) {
    let d = DateTime.fromFormat(date, "LLL dd, yyyy");
    return d.toFormat(format);
  }

  function date_sql(date, format){
    let d = DateTime.fromSQL(date);
    return d.toFormat(format);
  }

  function selectTab(date){
    active_tab = date;
  }

  function changeCategory(item){
    filter_category = item;
    loadData();
  }

  function changeVenue(item){
    filter_venue = item;
    loadData();
  }

</script>

<div class="agenda__header">
  <!-- <Type type={type} on:change={(event)=> { type = event.detail; loadData();} }></Type> -->
  <div class="agenda__tabs">
    {#each Object.entries(agenda_list) as [date, agendas]}
      <button on:click={()=> selectTab(date)} class="{date == active_tab ? color : ''} " >
        <span>{date_format(date, 'ccc')}</span>, {date_format(date, 'LLL d, y')}
      </button>
    {/each}
  </div>
</div>

<div class="filter__container">
  {#if filter_category}
    <div class="filter__item">
      Category: {filter_category}
      <button class="close" on:click={()=>{ changeCategory(""); }}>&#x2717;</button>
    </div>
  {/if}
  {#if filter_venue}
    <div class="filter__item">
      Venue: {filter_venue}
      <button class="close" on:click={()=>{ changeVenue(""); }}>&#x2717;</button>
    </div>
  {/if}
</div>


{#if loading}
  <div class="loading">
    <svg class="" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>
  </div>
{:else}
  <div class="agenda__box">

    {#if Object.entries(agenda_list).length < 1 }
      <div class="agenda__container">
        No events to show. Try clearing filters.
      </div>
    {/if}

    {#each Object.entries(agenda_list) as [date, agendas]}

      {#if date == active_tab}

        <div class="agenda__container">

          {#if Object.entries(agendas).length < 1 }
            No events on selected day.
          {/if}

          {#each Object.entries(agendas) as [time, agenda] }
            
            <div class="event__container">
              {#if type == "venue"}
                <div class="event__date venue">{time}</div>
              {:else}
                <div class="event__date">
                  {date_sql(time, 'hh:mm a')}
                </div>
              {/if}
              
              {#if type=="expanded"}
                <Detailed agenda={agenda} categories={categories}></Detailed>
              {/if}

              {#if type=="simple"}
                <Simple agenda={agenda} categories={categories}></Simple>
              {/if}

              {#if type=="venue"}
                <Venue agenda={agenda} categories={categories}></Venue>
              {/if}

            </div>
          {/each}
        </div>

      {/if}
      
    {/each}
    <div class="agenda__filters">
      <Filters 
        categories={categories} 
        on:category={ (event) => { changeCategory(event.detail); } } 
        venues={venues}
        on:venue={ (event) => { changeVenue(event.detail); } } 
        ></Filters>
    </div>
  </div>
{/if}