<script>
  import Details from './Details.svelte';

  export let agenda;
  export let categories;

</script>

<div class="event__cover">
  {#each agenda as item }
    
    <div class="event">
      <div class="event__name { item.category ? ( categories.indexOf(item.category) >= 0 ? 'cat-' + categories.indexOf(item.category) : '' ) : '' }">{item.name}</div>

      <Details agenda={item} categories={categories}></Details>

    </div>
  {/each}
</div>