<script>
  import SvelteMarkdown from 'svelte-markdown'
  import simplur from 'simplur';
  import { DateTime } from "luxon";
  
  export let agenda;
  export let categories;

  function date_detail(start, end){
    let s = DateTime.fromSQL(start);
    let e = DateTime.fromSQL(end);

    if(s.hasSame(e, 'day')){
      return s.toFormat('cccc LLLL d, y hh:mm a') + " - " + e.toFormat('hh:mm a')
    }
    else{
      return s.toFormat('cccc LLLL d, y hh:mm a') + " - " + e.toFormat('cccc LLLL d, y hh:mm a')
    }

  }
</script>

{#if agenda.description || agenda.link}
  <div class="event__description">
    {#if agenda.description}
        <SvelteMarkdown source={agenda.description}></SvelteMarkdown>
    {/if}

    {#if agenda.link}
      <div class="event__link">
        <a href="{agenda.link}" target="_blank">{agenda.link_text}</a>
      </div>
    {/if}

  </div>
{/if}

<!-- Speakers section -->

{#if Object.entries(agenda.speakers).length}
  <div class="event__speakers">
    
    {#each Object.entries(agenda.speakers) as [category, speaker_list]}
      <div class="speakers__container">
        
        <div class="speakers__category">
          { simplur`${[speaker_list.length,null]}${category}[|s]` }
        </div>

        <div class="speakers__list horizontal">
          {#each speaker_list as {name, designation, organisation, photo, linkedin}}
            <div class="speakers__item">
              <div class="speakers__photo speakers__photo__circle">
                <img src="{photo}" alt="name">
              </div>
              <div class="speakers__description">
                <div class="speakers__name">{name}</div>
                <div class="speakers__designation">{designation}</div>
                <div class="speakers__organisation">{organisation}</div>
                {#if linkedin}
                  <div class="linkedin">
                    <a href="{linkedin}" target="_blank">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                        <line x1="8" y1="11" x2="8" y2="16"></line>
                        <line x1="8" y1="8" x2="8" y2="8.01"></line>
                        <line x1="12" y1="16" x2="12" y2="11"></line>
                        <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
                      </svg>
                    </a>
                  </div>
                {/if}
              </div>
            </div>
          {/each}
        </div>

      </div>
    {/each}

  </div>
{/if}

<!-- Event Details -->

<div class="event__details">

  <div>
    {date_detail(agenda.start_time, agenda.end_time)}
  </div>

  {#if agenda.venue}
    Venue: <span>{agenda.venue}</span>
  {/if}
  {#if agenda.category}
    <div class="event__category { agenda.category ? ( categories.indexOf(agenda.category) >= 0 ? 'cat-' + categories.indexOf(agenda.category) : '' ) : '' }">
      {agenda.category}
    </div>
  {/if}

</div>