<script>
  import {onMount} from 'svelte';
  import Details from './Details.svelte';
  export let agenda;
  export let categories;

  onMount(()=>{
    console.log(agenda);
  })
</script>

<div class="event__name { agenda.category ? ( categories.indexOf(agenda.category) >= 0 ? 'cat-' + categories.indexOf(agenda.category) : '' ) : '' }">
  <slot/>
  <div class="detailed__box">
    <Details agenda={agenda} categories={categories}></Details>
  </div>
</div>