<script>
  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();

  export let categories;
  export let venues;

</script>

{#if categories.length}
  <div class="filter__heading">Filters Category</div>
  <div>
    {#each categories as category}
      <button on:click={()=>{ dispatch('category', category) }} class="event__category { category ? ( categories.indexOf(category) >= 0 ? 'cat-' + categories.indexOf(category) : '' ) : '' }">
        {category}
      </button>
    {/each}
  </div>
{/if}

{#if venues.length}
  <div class="filter__heading">Filters Venue</div>
  <div>
    {#each venues as venue}
      <button class="venue_filter" on:click={()=>{ dispatch('venue', venue) }} >
        {venue}
      </button>
    {/each}
  </div>
{/if}