<script>
  import Event from './Event.svelte';
  export let agenda;
  export let categories;
</script>

<div class="event simple">
  {#each agenda as item }
    <Event agenda={item} categories={categories}>
      {item.name}
    </Event>
  {/each}
</div>