
<script>
  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();

  let open = false;
  export let type;
  function select(item){
    open = false;
    dispatch('change', item);
  }
</script>

<div class="agenda__dropdown">
  <div class="open_menu">
    <button type="button" on:click={()=>{open=!open}}>
      Type: {type}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>
  {#if open}
    <div class="menu" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
      <div role="none">
        <button type="button" role="menuitem" tabindex="-1" id="menu-item-3" on:click={()=>{ select('simple') }} >Simple</button>
        <button type="button" role="menuitem" tabindex="-1" id="menu-item-3" on:click={()=>{ select('expanded') }}>Expanded</button>
        <button type="button" role="menuitem" tabindex="-1" id="menu-item-3" on:click={()=>{ select('venue') }} >By Venue</button>
      </div>
    </div>
  {/if}
</div>
