<script>
  import { DateTime } from "luxon";
  import Event from './Event.svelte';

  export let agenda;
  export let categories;

  function date_sql(date, format){
    let d = DateTime.fromSQL(date);
    return d.toFormat(format);
  }
</script>

<div class="event venue">
  {#each agenda as item }
    <div>
      <Event agenda={item} categories={categories}>
        <span>{date_sql(item.start_time, 'hh:mm a')}</span> - {item.name}
      </Event>
    </div>
  {/each}
</div>