<script>
  import {onMount} from 'svelte';
  import { DateTime } from "luxon";
  import SvelteMarkdown from 'svelte-markdown'
  import simplur from 'simplur';

  export let event;
  export let url;
  export let date;
  export let color;

  let active_tab = "";

  let agenda_list = [];

  $: agenda_list, categories(), dates();

  function categories(){
    let c = Object.entries(agenda_list).map( ([date, agendas]) => {
      return agendas.map(item => item.category)
    });
    
    c = [...new Set(c.flat().filter(item=> item && item.length>1))];

    return c;
  }

  function dates(){
    let dates = Object.keys(agenda_list);
    return dates;
  }
  
  onMount(()=>{
    
    var today = DateTime.now().toFormat("LLL dd, yyyy");

    fetch(`${url}/api/event/${event}/agenda?date=${date}`)
        .then(response => response.json())
        .then((json) => {
          agenda_list = json;
          active_tab = (dates().indexOf(today) >= 0) ? today : dates()[0];
        });
  });

  function date_format(date, format) {
    let d = DateTime.fromFormat(date, "LLL dd, yyyy");
    return d.toFormat(format);
  }

  function date_sql(date, format){
    let d = DateTime.fromSQL(date);
    return d.toFormat(format);
  }

  function date_detail(start, end){
    let s = DateTime.fromSQL(start);
    let e = DateTime.fromSQL(end);

    if(s.hasSame(e, 'day')){
      return s.toFormat('cccc LLLL d, y hh:mm a') + " - " + e.toFormat('hh:mm a')
    }
    else{
      return s.toFormat('cccc LLLL d, y hh:mm a') + " - " + e.toFormat('cccc LLLL d, y hh:mm a')
    }

  }

  function selectTab(date){
    active_tab = date;
  }

</script>

<div class="agenda__tabs">
  {#each Object.entries(agenda_list) as [date, agendas]}
    <button on:click={()=> selectTab(date)} class="px-5 py-3 mb-3 rounded-md shadow cursor-pointer {date == active_tab ? color : 'bg-white'} " >
      <span>{date_format(date, 'ccc')}</span>, {date_format(date, 'LLL d, y')}
    </button>
  {/each}
</div>

{#each Object.entries(agenda_list) as [date, agendas]}

  {#if date == active_tab}

    <div class="agenda__container">

      {#each agendas as {name, start_time, end_time, description, category, link, link_text, venue, speakers} }
        <div class="event__container">
          <div class="event__date">
            {date_sql(start_time, 'hh:mm a')}
          </div>
          <div class="event">
            <div class="event__name { category ? ( categories().indexOf(category) >= 0 ? 'cat-' + categories().indexOf(category) : '' ) : '' }">{name}</div>

            {#if description || link}
              <div class="event__description">
                {#if description}
                    <SvelteMarkdown source={description}></SvelteMarkdown>
                {/if}

                {#if link}
                  <div class="event__link">
                    <a href="{link}" target="_blank">{link_text}</a>
                  </div>
                {/if}

              </div>
            {/if}

            {#if Object.entries(speakers).length}
              <div class="event__speakers">
                
                {#each Object.entries(speakers) as [category, speaker_list]}
                  <div class="speakers__container">
                    
                    <div class="speakers__category">
                      { simplur`${[speaker_list.length,null]}${category}[|s]` }
                    </div>

                    <div class="speakers__list horizontal">
                      {#each speaker_list as {name, designation, organisation, photo, linkedin}}
                        <div class="speakers__item">
                          <div class="speakers__photo speakers__photo__circle">
                            <img src="{photo}" alt="name">
                          </div>
                          <div class="speakers__description">
                            <div class="speakers__name">{name}</div>
                            <div class="speakers__designation">{designation}</div>
                            <div class="speakers__organisation">{organisation}</div>
                            {#if linkedin}
                              <div class="linkedin">
                                <a href="{linkedin}" target="_blank">
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                                    <line x1="8" y1="11" x2="8" y2="16"></line>
                                    <line x1="8" y1="8" x2="8" y2="8.01"></line>
                                    <line x1="12" y1="16" x2="12" y2="11"></line>
                                    <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
                                  </svg>
                                </a>
                              </div>
                            {/if}
                          </div>
                        </div>
                      {/each}
                    </div>

                  </div>
                {/each}

              </div>
            {/if}

            <div class="event__details">

              <div>
                {date_detail(start_time, end_time)}
              </div>

              {#if venue}
                <div>{venue}</div>
              {/if}
              {#if category}
                <div class="event__category { category ? ( categories().indexOf(category) >= 0 ? 'cat-' + categories().indexOf(category) : '' ) : '' }">
                  {category}
                </div>
              {/if}
            </div>

          </div>
        </div>
      {/each}
    </div>

  {/if}
  
{/each}